[static]
vstatic = "/static/"
lstatic = "./server/public"
compress = "./settings/compress.json"

[server]
port = ":9000"
host = "127.0.0.1:9000"

[template]
 home = "./server/templates"
 ldelime = "{%"
 rdelime = "%}"
 charset = "UTF-8"
 reload = true
 
[defaultvars]
appname = "filesync Dashboard"
 
[admin]
passwd = "micro1867321"

[log]
path = "./.log"
format = "060102.log"

[filesync]
    [[filesync.pair]] #windows
    left="local://C:/dir1"
    right="local://D:/dir1"
    
    [[filesync.pair]] #linux
    left="local:///home/user/dir1"
    right="local:///home/user/dir2"
    
    [[filesync.pair]] #ftp not implemented
    left="local://E:/dir"
    right="ftp://127.0.0.1:21/dir"
    